body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333; /* Černé pozadí */
}

.calculator {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 10px;
    padding: 20px;
    background-color: #000; /* Černá barva kalkulačky */
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.5em;
    padding: 5px;
    background-color: #111; /* Tmavě černý display */
    color: #009900; /* Zelený text */
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    background-color: #009900; /* Zelená barva tlačítek */
    color: #000; /* Černý text na tlačítkách */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

button::before {
    content: '';
    position: absolute;
    top: -10px; /* Zvětšení hitboxu nahoru */
    bottom: -10px; /* Zvětšení hitboxu dolů */
    left: -10px; /* Zvětšení hitboxu doleva */
    right: -10px; /* Zvětšení hitboxu doprava */
    background: transparent; /* Neviditelný hitbox */
    z-index: -1;
}

button:hover {
    background-color: #009900; /* Tmavší zelená při najetí myší */
}

button:active {
    background-color: #007700; /* Ještě tmavší zelená při kliknutí */
}
